pre > code {
    border: none;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body>footer{margin-top:3em !important}

header {
    margin-bottom: 1em !important;
}

h1, h2, h3 {
    margin-bottom: 1em !important;
}

header > h2 {
    font-size: 1em !important;
}

.code-toolbar .toolbar-item  { font-family: arial; }