<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ site.sitename }} – {{page.title}}</title>
	<link href="https://fonts.googleapis.com/css?family=PT+Mono&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/awsm.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/prism.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/zoom.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/custom.css">
</head>