<main>
	<h1><%= h1 %></h1>
	<p>Книги, которые я прочитал. Не быду давать ссылок, вы их сами сможете найти.</p>
		<ul>
			<li>«Изучаем Си». Крупник А.Б.</li>
			<li>«Язык программирования Си». Керниган и Ритчи</li>
			<li>«Операционная система UNIX». Робачевский А.</li>
			<li>«Си для встраиваемых систем». Тарасов А.</li>
		</ul>
</main>