<main>
	<h1><%= h1 %></h1>
	<section>
		<pre class="line-numbers no-whitespace-normalization"><code class="language-css">p { color: red };
p { color: red };</code></pre>
		<figure>
			<img src="img/ava.jpg" data-action="zoom">
		</figure>
	</section>
</main>