<header>
  <h2><%= sitename %></h2>
  <nav>
    <ul>
        <li><a href="/">Таймлайн</a></li>
        <li><a href="/projects">Проекты</a></li>
        <li><a href="/books">Книги</a></li>
        <li><a href="/about">Обо мне</a></li>
    </ul>
  </nav>
</header>
<hr>